*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    vertical-align: none;
}

h1{
    font-size: 22px;
    line-height: 1em;
    margin: 20px 0;
}

.mainSlide{
    position: relative;
    min-width: 1240px;
    margin-bottom: 100px;
}

.msimgBox{
    overflow: hidden;
}

.msimgBox a{
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.msimgBox a .photo{
    margin-left: -360px;
}

.mainSlide .msPrev, .mainSlide .msNext{
    position: absolute;
    top: 170px;
    width: 80px;
    height: 80px;
    border: 1px solid #777;
    border-radius: 50%;
    text-indent: -99999px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
    background-color: #eee;
}

.mainSlide .msPrev{
    left: 50%;
    margin-left: -640px;
    background-image: url(../img/btn_prev.png);
}

.mainSlide .msNext{
    right: 50%;
    margin-right: -640px;
    background-image: url(../img/btn_next.png);
}

.msBtn{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.msPager ul {
    /* !important : 순위를 무시하고 브라우저에 최우선으로 결과를 반영해줌 */
    display: flex !important
}

.msPager li{
    padding: 5px;
}

.msPager li button{
    vertical-align: top;
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50px;
    text-indent: -99999px;
    background-color: #aaa;
}

.msPager .slick-active button{
    background-color: red;
}

.msPause, .msPlay{
    width: 24px;
    height: 24px;
    margin-top: 1px;
    margin-left: 10px;
    text-indent: -99999px;
    cursor: pointer;
}

.msPause{
    background-image: url(../img/btn_pause.png);
} 
.msPlay{
    display: none;
    background-image: url(../img/btn_play.png);
}